# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fincore
DB_USER=admin
DB_PASSWORD=fincore123

# Spark Configuration
SPARK_DRIVER_MEMORY=4g
SPARK_EXECUTOR_MEMORY=4g
SPARK_APP_NAME=FinCore_Pipeline

# Pipeline Configuration
DATA_SOURCE_PATH=../data
LOG_LEVEL=INFO
